// button style

.cta__button {
    display: flex;
    color: white;
    height: 48px;
    width: 250px;
    margin-bottom: 10px;
    @include borderstyle-button;
    @include center;
    @include row;
    @include boxshadow;
    background-image: linear-gradient(
        140deg,
        hsl(317deg 100% 74%) 0%,
        hsl(312deg 87% 71%) 11%,
        hsl(308deg 76% 68%) 22%,
        hsl(303deg 66% 65%) 33%,
        hsl(297deg 62% 63%) 44%,
        hsl(291deg 63% 62%) 56%,
        hsl(285deg 64% 62%) 67%,
        hsl(279deg 65% 61%) 78%,
        hsl(273deg 65% 61%) 89%,
        hsl(267deg 66% 60%) 100%
    );
    background-attachment:fixed;
    .button__text{
        text-align: center;
        font-family: $roboto;
        font-size: 13pt;
    }
}


// restaurant cards

.restaurantscard__wrapper {
    height: 677px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .restaurantscard {
        background-color: white;
        @include borderstyle;
        @include boxshadow;
        width: 44%;
        height: 305px;
        margin: 0px 10px 0px 10px;
        overflow: hidden;
        position: relative;
        .restaurantscard__image {
            width: 100%;
            height: 209px;
            object-fit: cover;
            object-position: center;
            z-index: 1;
        }
        .restaurantcard__ribbon {
            position: absolute;
            left: 80%;
            bottom: 75%;
            padding: 5px 10px 5px 10px;
            background-color: #99e2d0;
            color: #007b58;
            z-index: 2;
            @include tablet-only {
                left: 75%
            }
        }
        .restaurantscard__info {
            @include row;
            justify-content: space-between;
            height: 93px;
            line-height: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
        }
        .fa-heart  {
            font-size: 35px;
            padding-right: 5%;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

//footer
.footer {
    background-color: $background-dark;
    color: white;
    display: flex;
    height: 170px;
    @include verticle;
    .footer__logo {
        @include center;
    }
    .fa-utensils, .fa-handshake-angle {
        padding-right: 2px;
        font-size: 20px; 
    }
    .fa-ul {
        @include row;
        list-style: none; 
        align-items: baseline;
        justify-content: space-evenly;
        font-family: $roboto;
    }
}



