//nav section
.nav {
    @include verticle;
}

.navlogosection {
    height: 65px;
    @include row;
    .logo {
        @include center;
        font-family: $shrikhand;
    }
}
    
.navlocation {
    background-color: $background-medium;
    @include mobile-only{ 
        width: 100%;
    }
    span {
        @include row;
        justify-content: center;
    }  
}

.locationtext {
    padding-left: 10px;
}

//cta button style

.button__global {
    display: flex;
    color: white;
    height: 48px;
    width: 250px;
    margin-bottom: 10px;
    @include borderstyle;
    @include center;
    @include row;
    @include boxshadow;
    background-image: linear-gradient(
        140deg,
        hsl(317deg 100% 74%) 0%,
        hsl(312deg 87% 71%) 11%,
        hsl(308deg 76% 68%) 22%,
        hsl(303deg 66% 65%) 33%,
        hsl(297deg 62% 63%) 44%,
        hsl(291deg 63% 62%) 56%,
        hsl(285deg 64% 62%) 67%,
        hsl(279deg 65% 61%) 78%,
        hsl(273deg 65% 61%) 89%,
        hsl(267deg 66% 60%) 100%
    );
    background-attachment:fixed;
    .button__text{
        text-align: center;
        font-family: $roboto;
        font-size: 13pt;
    }
}


//footer
.footer {
    background-color: $background-dark;
    color: white;
    display: flex;
    height: auto;
    @include verticle;
    .footer__logo {
        @include center;
    }
    .fa-utensils, .fa-handshake-angle {
        padding-right: 2px;
        font-size: 20px; 
    }
    .fa-ul {
        @include row;
        list-style: none; 
        align-items: baseline;
        justify-content: space-evenly;
        font-family: $roboto;
        @include mobile-only {
            flex-direction: column;
        }
        >li {
            margin-bottom: 15px;
            @include mobile-only {
                margin: 0px 0px 10px 20px;
            }  
        }
    }
}