@import "./utils/mixins";
@import "./utils/variables";

@import "./layouts/layouts";

@import "./components/components";

//body

body {
    margin-left: 0px;
    margin-right: 0px;
}

//fonts

h1 {
    font-family: $shrikhand;
    font-size: 30px;
}

h2 {
    font-family: $roboto;
    font-weight: regular;
    font-size: 18pt;
}

h3, h4, h5, h6 {
    font-family: $roboto-light;
    font-size: 18pt;
}

p {
    font-family: $roboto-light;
    font-size: 14pt;
}












   