@import "./utils/mixins";
@import "./utils/variables";

@import "./layouts/layouts";

@import "./components/components";

//body

body {
    all: unset;
}

//fonts

h1 {
    font-family: $shrikhand;
    font-size: 37.5px;
}

h2 {
    font-family: $roboto;
    font-weight: regular;
    font-size: 18pt;
    @include mobile-only {
        font-size: 16pt;
    }
}

h3, h4 {
    font-family: $roboto-light;
    font-size: 18pt;
    @include  mobile-only{
        font-size: 16pt;
    }
}

h5, h6 {
    font-family: roboto-light;
    font-weight: regular;
    font-size: 18pt;
}

p {
    font-family: $roboto-light;
    font-size: 14pt;
}












   