
//nav
.fa-arrow-left {
    margin-left: 20px;
    font-size: 30px;
 }

 //logo 

 .logo {
     margin-left: -20px;
     @include mobile-only {
         margin-left: 0px;
     }
 }

 //hero

.hero__image--restaurants {
    height: 580px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

//header

.restaurantpage__header {
    height: 500px;
    .hero__image--restaurants {
        width: 100%;
        height: 480px;
        object-fit: cover;
        object-position: bottom;
        position: relative;
        z-index: -1;
    }
    .restaurantname__background {
        height: 110px;
        margin-top: -100px;
        background-color: $background-light;
        @include borderstyle-background;
        position: relative;
        z-index: 2;
        @include mobile-only {
            height: 110px
        }
    }
    .restaurantname {
        @include row;
        align-items: center;
        justify-content: space-around;
        @include tablet-only {
            margin-left: 30px;
            margin-right: 20px;
        }
        @include mobile-only {
            @include mobile-margins-menu;
            justify-content: space-between;
        }
    }
    .fa-heart {
        font-size: 30px;
        margin-left: 40px;
    }
}

//restaurants menu headings

.restaurantmenuwrapper {
    background-color: $background-light;
    height: 1265px;
    margin-top: -25px;
    .dishtype__heading {
        display: flex;
        justify-content: center;
        @include mobile-only {
            margin-left: 13px;
            justify-content: flex-start;
        }
    }
    .line {
        width: 200px;
        border-style: solid;
        border-color: $tertiary-color;
        border-width: 3px;
        @include mobile-only {
            margin-left: 13px;
            width: 45px
        }
    }
}

//dishes styling

.dish__wrapper {
    @include verticle;
    align-items: center;
    margin-left: 45px;
    margin-right: 45px;
    @include mobile-only{
        @include mobile-margins-menu;
    }
    .menuitem__button {
        background-color: white;
        @include borderstyle;
        @include boxshadow;
        @include verticle;
        line-height: 10px;
        height: 90px;
        width: 66%;
        margin-top: 15px;
        animation: transitionIn 2s;
        @include mobile-only {
            width: 100%;
        }
    }
    .menuitem {
        margin-left: 7.5px;
        margin-top: 2.5px;
        height: 40px;
        margin-right: 10px;
    }
    .menuitem__title {
        @include regular-font;
        @include mobile-only {
        }
    }
    .menuitem__details {
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        margin-right: 15px;
    }
    .menuitem__subtitle {
        @include mobile-only {
            padding: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .price {
        @include regular-font;
    }
}

//order button section

.orderbutton__section {
    background-color: $background-light;
    height: 80px;
}

//footer logo
.footer {
    .footer__logo {
        font-family: $shrikhand;
        font-size: 35px;
        margin-top: 15px;
        margin-bottom: 15px;
        @include mobile-only {
            padding: 10px 0px 20px 35px;
            height: 10px;
            width: 100%;
            font-size: 20px;
            margin-left: 35px;
        } 
    }
}

//footer items 
.fa-ul {
    margin-top: 0px;
}
