//nav section
.nav {
    @include verticle;
}

.navlogosection {
    height: 65px;
    @include row;
    .logo {
        @include center;
        font-family: $shrikhand;
    }
}
    
.navlocation {
    background-color: $background-medium;
    @include mobile-only{ 
        width: 100%;
    }
    span {
        @include row;
        justify-content: center;
    }  
}

.locationtext {
    padding-left: 10px;
}

//cta button style

.button__global {
    display: flex;
    color: white;
    height: 48px;
    width: 250px;
    margin-bottom: 10px;
    @include borderstyle;
    @include center;
    @include row;
    @include boxshadow;
    border: none;
    background: $background-gradient;
    background-repeat: no-repeat;
    .button__text{
        text-align: center;
        font-family: $roboto;
        font-weight: 500;
        font-size: 13pt;
    }
    &:hover {
        background: linear-gradient(to top left, darken(#9356DC,3), darken(#FF79DA,3));
        @include boxshadow-darker;
    }
}


//footer
.footer {
    background-color: $background-dark;
    color: white;
    display: flex;
    height: auto;
    @include verticle;
    .footer__logo {
        font-family: $shrikhand;
        padding: 20px 0px 20px 0px;
        font-size: 30px;
        @include center;
        @include mobile-only {
            padding-left: 10%;
            padding-bottom: 20px;
            font-size: 17pt;
            margin: 0px;
            height: 20px;
            width: 150px;
        }
    }
    .fa-utensils, .fa-handshake-angle {
        padding-right: 2px;
        font-size: 20px; 
    }
    .fa-ul {
        @include row;
        list-style: none; 
        align-items: baseline;
        justify-content: space-evenly;
        font-family: $roboto;
        @include mobile-only {
            flex-direction: column;
        }
        .li__with-icon {
            margin-left: 30px;
        }
        >li {
            margin-bottom: 15px;
            @include mobile-only {
                margin: 0px 0px 10px 0px;
            }  
        }
    }
}
