$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #353535;
$background-color_alt: #f6f6f6;

@mixin borderstyle {
    border-radius: 20px;
}

@mixin center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@mixin verticle {
    display: flex;
    flex-direction: column;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

//add gradient rule

//google font import
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&family=Shrikhand&display=swap');

$shrikhand: 'shrikhand'; 
$roboto: 'roboto regular', sans-serif;









