@import "../layouts/layouts";
@import "../layouts/layoutsmenupage";

@import "../components/components";

@import "../utils/mixins";
@import "../utils/variables";

h1 {
    font-family: $shrikhand;
    font-size: 37.5px;
    @include mobile-only {
        font-family: $shrikhand;
        font-size: 32.5px;
    }
}

//links

a, a :visited {
    color: inherit;
    text-decoration: none;
}





