@import "css/layouts/layouts.css";
@import "css/layouts/layoutsmenupage.css";

@import "css/components/components.css";

@import "css/utils/mixins.css";
@import "css/utils/variables.css";

h1 {
    font-family: $shrikhand;
    font-size: 38.5px;
    @include mobile-only {
        font-family: $shrikhand;
        font-size: 32.5px;
    }
}

//links

a, a :visited {
    color: inherit;
    text-decoration: none;
}





