

//header 
header {
    height: 800px;
    @include tablet-only {
        height: 900px;
    }
    @include mobile-only {
        height: 500px;
    }
}

.hero__image {
    height: 580px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: -1;
    @include mobile-only {
        display: none;
    }
}

.hero__contentContainer {
    width: 100%;
    background-color: white;
    @include borderstyle-background;
    height: 320px;
    margin-top: -80px;
    position: relative;
    bottom: 50px;
    z-index: 1;
    @include mobile-only  {
        margin-top: 50px;
        margin: 0px;
        border: 0px;
    }
}



//call to action card
.cta {
    width: 375px;
    height: 290px;
    @include borderstyle;
    @include center;
    @include verticle;
    @include boxshadow;
    justify-content: space-around;
    background-color: $background-light;
    margin-top: -160px;
    @include tablet-only {
        height: 250px;
    }
    @include mobile-only {
        margin-top: 50px;
        border-radius: 0px;
        box-shadow: none;
        border: none;
    }
    .heading {
        @include center;
        padding-top: 0px;
    }
    .p {
        text-align: center;
        font-family: $roboto-light;
        font-size: 16pt;
    }
}


// how it works card
.howitworks {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 50px;
    @include mobile-only {
        @include mobile-margins;
        height: 350px;
    }
    @include tablet-only {
        margin-top: 30px;
    }
    .howitworks__title {
        @include center;
    }
}

//how it works button styling

.howitworks__buttonsectionwrapper {
    @include row;
    justify-content: space-between;
    @include tablet-only {
        @include verticle;
    }
    .howitworks__buttonwrapper {
        @include tablet-only {
            padding-bottom: 15px;
        }
        @include mobile-only {
            width: 100%;
            padding-bottom: 30px;
        }
    }
    .howitworks__button {
        @include row;
        @include borderstyle;
        width: 255px;
        height: 70px;
        justify-content:flex-start;
        @include boxshadow;
        margin: 0px 10px 0px 10px;
        @include tablet-only {
            width: 375px;
        }
        @include mobile-only {
            width: 95%
        }
    }
    .howitworks__number {
        background-color: $primary-color;
        color: white;
        height: 20px;
        width: 20px;
        @include borderstyle;
        margin-left: -20px;
    }
    .fa-mobile-screen-button {
        padding-left: 10px;
        font-size: 20px;

    }
    .fa-list-ul {
        padding-left: 10px;
        font-size: 20px;

    }
    .fa-store {
        padding-left: 10px;
        font-size: 20px;

    }
    .howitworks__buttontext {
        padding-left: 10px;
    }
}

//restaurants section

.restaurants {
    background-color: $background-light;
    height: 750px;
    @include mobile-only {
        margin-top: 120px;
        height: auto;
    }
    .restaurants__title {
        margin-left: 45px;
        padding-top: 20px;
        @include mobile-only {
            @include mobile-margins
        } 
    }
}

// restaurant cards

.restaurantscard__wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .restaurantscard {
        background-color: white;
        @include borderstyle;
        @include boxshadow;
        width: 44%;
        height: 305px;
        margin: 0px 10px 30px 10px;
        overflow: hidden;
        position: relative;
        @include mobile-only {
            width: 85%;
            height: 250px;
            margin: 10px 0px 18px 0px;
        }
        @include tablet-only {
            margin-bottom: 30px;
        }
        .restaurantscard__image {
            width: 100%;
            height: 209px;
            object-fit: cover;
            object-position: center;
            z-index: 1;
            @include mobile-only {
                height: 175px;
            }
        }
        .restaurantcard__ribbon {
            position: absolute;
            left: 80%;
            bottom: 75%;
            padding: 5px 10px 5px 10px;
            background-color: #99e2d0;
            color: #007b58;
            z-index: 2;
            @include tablet-only {
                left: 75%
            }
        }
        .restaurantscard__info {
            @include row;
            justify-content: space-between;
            height: 93px;
            line-height: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            @include mobile-only {
                height: 77px;
            }
        }
        .fa-heart  {
            font-size: 35px;
            @include mobile-only {
                font-size: 30px;
            }
            padding-right: 5%;
            &:hover {
                color: $primary-color;
            }
        }
    }
}