
//nav
.fa-arrow-left {
    margin-left: 20px;
    font-size: 30px;
 }

 //logo 

 .logo {
     margin-left: -20px;
     @include mobile-only {
         margin-left: 0px;
     }
 }

 //hero

.hero__image--restaurants {
    height: 580px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

//header

.restaurantpage__header {
    height: 500px;
    .hero__image--restaurants {
        width: 100%;
        height: 480px;
        object-fit: cover;
        object-position: bottom;
        position: relative;
        z-index: -1;
    }
    .restaurantname__background {
        height: 115px;
        margin-top: -100px;
        background-color: $background-light;
        @include borderstyle-background;
        position: relative;
        z-index: 2;
        @include mobile-only {
            height: 110px
        }
    }
    .restaurantname {
        @include row;
        align-items: center;
        justify-content: space-around;
        @include tablet-only {
            margin-left: 30px;
            margin-right: 20px;
        }
        @include mobile-only {
            @include mobile-margins-menu;
            justify-content: space-between;
        }
    }
    .fa-heart.restaurant-name__icon {
        font-size: 30px;
        margin-left: 40px;
        position: unset;
    }
}

//restaurants menu headings

.restaurantmenuwrapper {
    background-color: $background-light;
    height: 1265px;
    margin-top: -25px;
    .dishtype__heading {
        display: flex;
        justify-content: center;
        @include mobile-only {
            margin-left: 13px;
            justify-content: flex-start;
        }
    }
    .line {
        width: 200px;
        border-style: solid;
        border-color: $tertiary-color;
        border-width: 3px;
        @include mobile-only {
            margin-left: 13px;
            width: 45px
        }
    }
}

//dishes styling

.menulist__wrapper {
    @include verticle;
    align-items: center;
    margin-left: 45px;
    margin-right: 45px;
    @include mobile-only{
        @include mobile-margins-menu;
    }
}

//card or 'button' styling

.menuitem__button {
    background-color: white;
    @include borderstyle;
    @include boxshadow;
    border-width: 0px;
    height: 90px;
    width: 66%;
    margin-top: 15px;
    animation: transitionIn 2s;
    overflow: hidden;
    @include mobile-only {
        width: 100%;
    }
    .menuitem__wrapper {
        display: flex;
        flex-direction: row;
        height: 100%;
        &:hover .menuitem--animation {
            visibility: visible;
            width: 30%;
            transition: ease-in 1s;
        }
        &:hover .menuitem {
            width: 70%;
            transition: ease-in 1s;
        }
    }
    .menuitem {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 5px;
        width: 100%;
        justify-content: center;
    }
    .menuitem__title, .menuitem__subtitle, .price {
        margin: 10px 0px 0px 5px;
    }
    .menuitem__title {
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow:hidden;
    }
    .menuitem__subtitle {
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow:hidden;
    }
    .menuitem__details {
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        margin-right: 15px;
    }
    .menuitem--animation {
        background-color: $tertiary-color;
        visibility: hidden;
        width: 0%;
        .fa-circle-check {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            height: 100%;
            color: lighten($color: #99E2D0, $amount: 25%);
            animation: spinning__circle 3s ease-in-out;
            animation-iteration-count: infinite;
        }
    }
}

//animation of circle

@keyframes spinning__circle {
    0% {
        transform:rotate(0turn);
    }
    25% {
        transform: rotate(3turn);
    }
    100% {
        transform: rotate(0turn);
    }
    0% {
        transform: rotate(3turn);
    }
}





//order button section

.orderbutton__section {
    background-color: $background-light;
    height: 80px;
    padding-top: 20px;
}

//footer logo
.footer {
    .footer__logo {
        font-family: $shrikhand;
        font-size: 35px;
        margin-top: 15px;
        margin-bottom: 15px;
        @include mobile-only {
            padding: 10px 0px 20px 35px;
            height: 10px;
            width: 100%;
            font-size: 20px;
            margin-left: 35px;
        } 
    }
}

//footer items 
.fa-ul {
    margin-top: 0px;
}
